.experiencia {
    max-width: 75rem;
    padding: 2.5rem 1.25rem;
    margin: 0 auto;
    border-radius: 8px;
}

.experiencia h2 {
    text-align: center;
    font-size: 3.5rem;
    padding-bottom: 4rem;
}

.experiencia-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
}

.experiencia-trabalhos {
    border: 2px solid #8b31f1;
    border-radius: 10px;
    display: grid;
    place-items: center;
}

.experiencia-trabalhos img {
    border-radius: 10px;
    max-width: 50%;
}