.footer {
    max-width: 75rem;
    padding: 2.5rem 1.25rem;
    margin: 0 auto;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 20px;
}

.footer-icones {
    gap: 0px 20px;
}