.header {
    max-width: 75rem;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 1.25rem;
}

.header-menu {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
    justify-content: center;
}

.logotipo {
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1.3;
    padding: 10px 20px;
    color: #8b31f1;
    display: block;
    font-weight: 800;
}

.header-menu a {
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.3;
    padding: 10px 20px;
    color: #fff;
    display: block;
    transition: .3s;
}

.header-menu a:hover,
.header-menu a.active {
    color:#8b31f1;
}